@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.userInfo{
font-family: cursive;
width: 100% ;
/* border: 1px solid; */
display: flex;

padding: 10px;
margin-bottom: 10px;
}

.userInfo h3{
    margin-left: 20px;
    font-family: 'Pacifico', cursive;
}